projectpcv/
.venv/
face_ref.xml
main.py
tesreadme.md
__pycache__/
*.pyc
tanda tangan.jpeg
game.md
project.md
tahapan/
fix_jawaban_tidak_bersatu.md
music/
penjelasan tiap perubahan/
game_mode2.py
